<div class = "container">
	<%= link_to 'Answer this question', new_question_answer_path(@question), class: 'btn btn-default forum-btn' %>
</div>
<% question.answers.each do |answer| %>
	<div class = "container">
		<div class = 'col-sm-6'>
			<div class="panel panel-default">
			  <div class="panel-body">
					<p><%= answer.content %></p>
			  </div>
			  <div class="panel-footer">
			  	<p>Author: <%= answer.user.user_name %></p>
			  	<% if answer.user == current_user %>
				  	<div class = "btn-group btn-group-xs">
				  		<%= link_to "Edit", edit_question_answer_path(question, answer), class: 'btn btn-warning' %>
							<%= link_to "Delete", question_answer_path(question, answer), class: 'btn btn-danger', 
							method: :delete if current_user == answer.user %>
						</div>
					<% end %>
			  </div>
			</div>
		</div>
	</div>
<% end %>
