<div class = "container">
	<% if @question.answers.count == 1 %>
	<h3 class='pull-left'><%= @question.answers.count %> Response</h3>
	<% else %>
	<h3 class='pull-left'><%= @question.answers.count %> Responses</h3>
	<% end %>
	<% if user_signed_in? %>
		<%= link_to 'Respond to this post', new_question_answer_path(@question), remote: true, 
							  class: 'btn btn-default forum-btn pull-right respond-btn' %>
	<% else %>
		<h5 class="pull-right" >You must be signed in to respond</h5>
	<% end %>
</div>
<div class="container">
	<hr>
</div>
<% question.answers.order("helpful desc").each do |answer| %>
	<div class = "container">
		<div class = 'row'>
			<div class= 'voting-box pull-left col-xs-1'>
				<span class='up-vote'>
					<%= link_to vote_path(answer, vote: 'up'), remote: true do %>
						<i class="fa fa-chevron-up fa-2x" data-toggle="tooltip" data-placement="left" title="Vote up if this answer was helpful!"></i>
					<% end %>
				</span>
				<span class='vote-count'>
					<div id="voteBadge-<%= answer.id %>"><%= vote_badge(answer) %></div>
				</span>
				<span class='down-vote'>
					<%= link_to vote_path(answer, vote: 'down'), remote: true do %>
						<i class="fa fa-chevron-down fa-2x" data-toggle="tooltip" data-placement="left" title="Vote down if this answer was not helpful!"></i>
					<% end %>
				</span>
			</div>
			<div class='col-lg-8 col-md-6 col-xs-8'>
				<div class="panel panel-default answer-panel">
				  <div class="panel-body">
						<p><%= answer.content %></p>
						<hr class='forum-hr'>
				  	<h6 class='pull-left'><%= answer.user.user_name || "Anonymous" %> - <%= time_ago_in_words(answer.created_at)%> ago</h6>
				  	<% if user_signed_in? %>
					  	<% if answer.user == current_user || current_user.admin? %>
						  	<span class = "edit-delete pull-right">
									<%= link_to edit_question_answer_path(question, answer), remote: true do %>
						  			<i class="fa fa-pencil fa-lg" data-toggle="tooltip" title="Edit"></i>
						  		<% end %>				
									&nbsp;&nbsp;
									<%= link_to question_answer_path(question, answer), method: :delete  do %>
										<i class="fa fa-trash fa-lg" data-toggle="tooltip" title="Delete"></i>
									<% end %>
						  	</span>
							<% end %>
						<% end %>
				  </div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<%= render partial:'modal_partial' %>
