<div class = "container">
<%= link_to "Back to Forum", questions_path, class: 'btn btn-default forum-btn' %>
</div>
<div class = "container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= question.title %></h4>
		</div>
	  <div class="panel-body">
			<p><%= question.content %><p>
			<hr class='forum-hr'>
	  	<h6 class='pull-left'>Posted by <%= question.user.user_name %> <%= time_ago_in_words(question.created_at)%> ago</h6>
	  	<% if question.user == current_user %>
	  		<div class = "btn-group btn-group-xs pull-right">
					<%= link_to "Edit", edit_question_path(question), remote: true, class: 'btn btn-warning'  %>
					<%= link_to "Delete", question_path(question), class: 'btn btn-danger', method: :delete if current_user == question.user %>
				</div>
			<% end %>
	  </div>
	</div>
</div>

<%= render partial:'modal_partial' %>
