<div class= "form-group">
	<% flash.each do |message_type, message| %>
  	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  
	<%= form_for question, remote: true do |f| %>
		<%= render 'layouts/error_messages', object: f.object %>

		<%= f.label :title	 %> 
	  <%= f.text_field :title, class: 'form-control' %>

		<%= f.label :content %> 
	  <%= f.text_area :content, class: 'form-control'  %>

	  <%= f.label :category %>
	  <%= f.select :category, options_for_select(['General', 'Day Camp', 'Ruby', 'Other Coding']), class: 'form-control' %>	<br>

		<%= f.hidden_field :user_id, value: current_user.id, class: 'form-control'  %>	  
		
	  <%= f.submit "Submit", class: "btn btn-default forum-btn"  %>
	<% end %>
</div>
