<div class = "container">
	<% if user_signed_in? %>
		<%= link_to "Add a post", new_question_path, remote: true, class: "btn btn-default forum-btn" %>
	<% else %>
		<span data-toggle="modal" data-target="#myModal" class="btn btn-default forum-btn" >Sign in to post!</span>
	<% end %>
	<div role="tabpanel">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs forum-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
	    <li role="presentation"><a href="#dayCamp" aria-controls="Day Camp" role="tab" data-toggle="tab">Day Camp</a></li>
	    <li role="presentation"><a href="#ruby" aria-controls="Ruby" role="tab" data-toggle="tab">Ruby</a></li>
	    <li role="presentation"><a href="#otherCoding" aria-controls="Other Coding" role="tab" data-toggle="tab">Other Coding</a></li>
	  	<% if user_signed_in? %>
	  		<li role="presentation" class="tabpane-right"><a href="#yourPosts" aria-controls="Your Posts" role="tab" data-toggle="tab">Your Posts</a></li>
	  	<% end %>
	  </ul>
	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="general">
	    	<%= render partial: 'display_all_questions', locals: { :category => 'General' }%>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="dayCamp">
	    	<%= render partial: 'display_all_questions', locals: { :category => 'Day Camp' }%>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="ruby">
	    	<%= render partial: 'display_all_questions', locals: { :category => 'Ruby' }%>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="otherCoding">
	    	<%= render partial: 'display_all_questions', locals: { :category => 'Other Coding' }%>
	    </div>
	    <% if user_signed_in? %>
		    <div role="tabpanel" class="tab-pane" id="yourPosts">
			    <%= render partial: 'display_users_questions', locals: { :user => @current_user }%>
			  </div>
		  <% end %>
	  </div>
	</div>
</div>

<%= render partial:'modal_partial' %>
