<div class = "container">
	<%= link_to 'Answer this question', new_question_answer_path(@question) %>
	<h4><%= @question.title %></h4><p>Author:<%= @question.user.user_name %></p>
	</p><%= @question.content %></p>
</div>
<div class = "container">
	<% @question.answers.each do |answer| %>
	<p><%= answer.content %></p>
	<p>Author:<%= answer.user.user_name %></p>
	user:<%= answer.user_id %>
	question:<%= answer.question_id %>
	<%= link_to "Edit", edit_question_answer_path(@question, answer) %>
	<%= link_to "Delete", question_answer_path(@question, answer), method: :delete if current_user == answer.user %>
	<% end %>
</div>
