<div data-spy="scroll" data-target=".navbar"> 
  <% if user_signed_in? %>
      <%= image_tag "agogesigninhero.jpg", class: 'img-responsive signedinhero', alt: "Responsive image" %>
  <% else %>
    <div class="col-md-6 signin_form" id="signin_background">
      <%= render'devise/registrations/signup_form' %>
    </div>
    <div id="signedouthero"></div>
  <% end %>

  <div class="home_paragraph_container">
    <span class="title_home_paragraph">
      <h3>Learn a skill</h3>
      <p>The agoge, where the legendary training of elite Spartan warriors began,<br> held
         to the belief that an individual's success starts at a young age.<br> Here at Agoge we seek to educate  
         and empower teens,<br> expanding their knowledge of web development principles early in life. 
      </p>
    </span>
  </div>
  <div id="EventsArea" >
    <div class="buffer"></div>
      <%= render partial: 'events/event_panels', locals: {events: @events} %>
    </div>
  </div>
</div>

<%= render partial: 'events/events_modal'%>
<%= render 'events/gmaps_scripts' %>
