<h1 class="learn-info">Learning Resources</h1>

<hr class="contact-hr"><br>

<div>
	<div class="col-md-8 col-md-offset-4">
	<div role="tabpanel">
	  <!-- Nav tabs -->
	  <div class="col-md-2">
  		<ul class="nav nav-pills nav-stacked profile-pills">
		    <li role="presentation" class="active"><a href="#courses" aria-controls="home" role="tab" data-toggle="tab">Online Courses</a></li>
		    <li role="presentation"><a href="#tutorials" aria-controls="courses" role="tab" data-toggle="tab">Tutorials and Guides</a></li>
		    <li role="presentation"><a href="#games" aria-controls="Day Camp" role="tab" data-toggle="tab">Games</a></li>
		    <li role="presentation"><a href="#reference" aria-controls="Other Coding" role="tab" data-toggle="tab">Reference</a></li>
		    <li role="presentation"><a href="#videosTab" aria-controls="Other Coding" role="tab" data-toggle="tab">Videos</a></li>
	  	</ul>
	  </div>
	  <!-- Tab panes -->
	  <div class="tab-content">
	  	<!--Courses tab pane-->
	    <div role="tabpanel" class="tab-pane active" id="courses">
		    <div class="col-md-4">
			    <div class="panel panel-default post-panel ">
			    	<%= link_to "http://www.codelearn.org", target: '_blank' do %>
			    	<div class="panel-body post-panel-body learn-info">
			    		CodeLearn
			    	</div>
			    	<% end %>
					</div>
			    <div class="panel panel-default post-panel">
			    		<%= link_to "https://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application/getting-started-with-rails/generate-a-rails-application-2", target: '_blank' do %>
			    		<div class="panel-body post-panel-body learn-info">
			    			Treehouse
			   	  </div>
			   	  <% end %>
					</div>
			   	<div class="panel panel-default post-panel">
			    	<%= link_to "http://www.codecademy.com/learn/learn-rails", target: '_blank' do %>
			    	<div class="panel-body post-panel-body learn-info">
			   			Codecademy
			   	  </div>
			   	  <% end %>
					</div>
			   	<div class="panel panel-default post-panel">
			    	<%= link_to "http://cli.learncodethehardway.org/book/", target: '_blank' do %>
			    	<div class="panel-body post-panel-body learn-info">
			   			Command Line Crash Course
					  </div>
					  <% end %>
					</div>
					<div class="panel panel-default post-panel">
			    	<%= link_to "http://www.codeavengers.com/", target: '_blank' do %>
			    	<div class="panel-body post-panel-body learn-info">
			   			Code Avengers
					  </div>
					  <% end %>
					</div>
			  </div>
	    </div>
			<!--Tutorials tab pane-->
	    <div role="tabpanel" class="tab-pane" id="tutorials">
	    	<div class="col-md-4">
	   	   	<div class="panel panel-default post-panel">
	   	   		<%= link_to "http://guides.rubyonrails.org/getting_started.html", target: '_blank' do %>
	   	   		<div class="panel-body post-panel-body learn-info">
	    				Getting Started with Rails
					  </div>
					  <% end %>
					</div>
	    		<div class="panel panel-default post-panel">
	    			<%= link_to "https://www.railstutorial.org/book/frontmatter", target: '_blank' do %>
	    			<div class="panel-body post-panel-body learn-info">
	    				12 Chapter Rails Tutorial
					  </div>
					  <% end %>
					</div>
	    		<div class="panel panel-default post-panel">
	    			<%= link_to "http://railscasts.com/", target: '_blank' do %>
	    			<div class="panel-body post-panel-body learn-info">
		    			Rails Casts
					  </div>
					  <% end %>
					</div>
		    	<div class="panel panel-default post-panel">
		    		<%= link_to "http://railsforzombies.org/", target: '_blank' do %>
		    		<div class="panel-body post-panel-body learn-info">
		    			Rails for Zombies
					  </div>
					  <% end %>
					</div>
		    	<div class="panel panel-default post-panel">
		    		<%= link_to "https://try.github.io/levels/1/challenges/1", target: '_blank' do %>
		    		<div class="panel-body post-panel-body learn-info">
		    			Try Git
					  </div>
					  <% end %>
					</div>
				</div>
	    </div>
	    <!--Games tab pane-->
	    <div role="tabpanel" class="tab-pane" id="games">
				<div class="col-md-4">
		    	<div class="panel panel-default post-panel">
		    		<%= link_to "http://vim-adventures.com/", target: '_blank' do %>
		    		<div class="panel-body post-panel-body learn-info">
	    				VIM Adventures
					  </div>
					  <% end %>
					</div>
					<div class="panel panel-default post-panel">
		    		<%= link_to "http://www.codewars.com/", target: '_blank' do %>
		    		<div class="panel-body post-panel-body learn-info">
	    				Codewars
					  </div>
					  <% end %>
					</div>
					<div class="panel panel-default post-panel">
		    		<%= link_to "http://pcottle.github.io/learnGitBranching/", target: '_blank' do %>
		    		<div class="panel-body post-panel-body learn-info">
	    				Learn Git Branching
					  </div>
					  <% end %>
					</div>
					<div class="panel panel-default post-panel">
		    		<%= link_to "http://codecombat.com/", target: '_blank' do %>
		    		<div class="panel-body post-panel-body learn-info">
	    				CodeCombat
					  </div>
					  <% end %>
					</div>
	    	</div>
	    </div>
	    <!--Reference tab pane-->
	    <div role="tabpanel" class="tab-pane" id="reference">
	    	<div class="col-md-4">
	    		<div class="panel panel-default post-panel">
	    			<%= link_to "https://pragprog.com/", target: '_blank' do %>
	    			<div class="panel-body post-panel-body learn-info">
	    				The Pragmatic Bookshelf
	    			</div>
	    			<% end %>
					</div>
					<div class="panel panel-default post-panel">
	    			<%= link_to "http://rubyweekly.com/", target: '_blank' do %>
	    			<div class="panel-body post-panel-body learn-info">
	    				Ruby Weekly
	    			</div>
	    			<% end %>
					</div>
					<div class="panel panel-default post-panel">
	    			<%= link_to "https://news.ycombinator.com/", target: '_blank' do %>
	    			<div class="panel-body post-panel-body learn-info">
	    				Hacker News
	    			</div>
	    			<% end %>
					</div>
					<div class="panel panel-default post-panel">
	    			<%= link_to "http://www.rubytapas.com/episodes?filter=free", target: '_blank' do %>
	    			<div class="panel-body post-panel-body learn-info">
	    				Ruby Tapas
	    			</div>
	    			<% end %>
					</div>
	  		</div>
	    </div>
	    <!--Video tab pane-->
	    <div role="tabpanel" class="tab-pane" id="videosTab">
	    	<div class="col-md-4">
	    		<br>
	    		<div id="video_wrapper">
						<iframe class="video" src="https://www.youtube.com/embed/BJEFbBxyvhI" frameborder="0" allowfullscreen></iframe>
					</div>
					<br>
					<div id="video_wrapper">
						<iframe class="video" src="https://www.youtube.com/embed/Gzj723LkRJY" frameborder="0" allowfullscreen></iframe>
					</div>
	  		</div>
	    </div>
	  <!--End of tab panes-->
		</div>
	</div>
</div>

<br class="clear">
