<h1 class="learn-info">Tutorial Videos</h1>

<hr class="contact-hr"><br>

<div class="container video-container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/BJEFbBxyvhI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4 video-description">
			<h3 class="pull-right">Here's an easy to follow along video demonstrating how to set up Ruby on Rails on your own Mac machine. This tutorial also leads you through installing Git, Homebrew, and RVM, which are great tools that many Rails developers use on a daily basis.</h3>
		</div>
	</div>
</div>

<div class="container video-container">
	<div class="row">
		<div class="col-md-8">
			<div id="video_wrapper">
				<iframe class="video" src="https://www.youtube.com/embed/Gzj723LkRJY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-4 video-description">
			<h3 class="pull-right">This is one of the first demonstrations of Ruby on Rails by its creator, David Heinemeier Hansson(DHH for short). Here he shows how easy it can be to create a product quickly and efficiently. This video was recorded back in 2005.</h3>
		</div>
	</div>
</div>

<hr class="contact-hr">

<h1 class="learn-info">Additional Resources</h1>

<hr class="contact-hr"><br>

<div class="container">
	<div class="col-md-12 col-md-offset-3">
	<div role="tabpanel">
	  <!-- Nav tabs -->
	  <div class="col-md-2">
  		<ul class="nav nav-pills nav-stacked profile-pills">
		    <li role="presentation" class="active"><a href="#courses" aria-controls="home" role="tab" data-toggle="tab">Online Courses</a></li>
		    <li role="presentation"><a href="#tutorials" aria-controls="courses" role="tab" data-toggle="tab">Tutorials and Guides</a></li>
		    <li role="presentation"><a href="#games" aria-controls="Day Camp" role="tab" data-toggle="tab">Games</a></li>
		    <li role="presentation"><a href="#reference" aria-controls="Other Coding" role="tab" data-toggle="tab">Reference</a></li>
		    <li role="presentation"><a href="#videosTab" aria-controls="Other Coding" role="tab" data-toggle="tab">Videos</a></li>
	  	</ul>
	  </div>
	  <!-- Tab panes -->
	  <div class="tab-content">
	  	<!--Courses tab pane-->
	    <div role="tabpanel" class="tab-pane active" id="courses">
		    <div class="col-md-4">
			    <div class="panel panel-default post-panel ">
			    	<%= link_to "http://www.codelearn.org" do %>
			    	<div class="panel-body post-panel-body learn-info">
			    		CodeLearn
			    	</div>
			    	<% end %>
					</div>
			    <div class="panel panel-default post-panel">
			    		<%= link_to "https://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application/getting-started-with-rails/generate-a-rails-application-2" do %>
			    		<div class="panel-body post-panel-body learn-info">
			    			Treehouse
			   	  </div>
			   	  <% end %>
					</div>
			   	<div class="panel panel-default post-panel">
			    	<%= link_to "http://www.codecademy.com/learn/learn-rails" do %>
			    	<div class="panel-body post-panel-body learn-info">
			   			Codecademy
			   	  </div>
			   	  <% end %>
					</div>
			   	<div class="panel panel-default post-panel">
			    	<%= link_to "http://cli.learncodethehardway.org/book/" do %>
			    	<div class="panel-body post-panel-body learn-info">
			   			Command Line Crash Course
					  </div>
					  <% end %>
					</div>
			  </div>
	    </div>
			<!--Tutorials tab pane-->
	    <div role="tabpanel" class="tab-pane" id="tutorials">
	    	<div class="col-md-4">
	   	   	<div class="panel panel-default post-panel">
	   	   		<%= link_to "http://guides.rubyonrails.org/getting_started.html" do %>
	   	   		<div class="panel-body post-panel-body learn-info">
	    				Getting Started with Rails
					  </div>
					  <% end %>
					</div>
	    		<div class="panel panel-default post-panel">
	    			<%= link_to "https://www.railstutorial.org/book/frontmatter" do %>
	    			<div class="panel-body post-panel-body learn-info">
	    				12 Chapter Rails Tutorial by Michael Hartl
					  </div>
					  <% end %>
					</div>
	    		<div class="panel panel-default post-panel">
	    			<%= link_to "http://railscasts.com/" do %>
	    			<div class="panel-body post-panel-body learn-info">
		    			Rails Casts
					  </div>
					  <% end %>
					</div>
		    	<div class="panel panel-default post-panel">
		    		<%= link_to "http://railsforzombies.org/" do %>
		    		<div class="panel-body post-panel-body learn-info">
		    			Rails for Zombies
					  </div>
					  <% end %>
					</div>
		    	<div class="panel panel-default post-panel">
		    		<%= link_to "https://try.github.io/levels/1/challenges/1" do %>
		    		<div class="panel-body post-panel-body learn-info">
		    			Try Git
					  </div>
					  <% end %>
					</div>
				</div>
	    </div>
	    <!--Games tab pane-->
	    <div role="tabpanel" class="tab-pane" id="games">
				<div class="col-md-4">
		    	<div class="panel panel-default post-panel">
		    		<%= link_to "http://vim-adventures.com/" do %>
		    		<div class="panel-body post-panel-body learn-info">
	    				VIM Adventures
					  </div>
					  <% end %>
					</div>
	    	</div>
	    </div>
	    <!--Reference tab pane-->
	    <div role="tabpanel" class="tab-pane" id="reference">
	    	<div class="col-md-4">
	    		<div class="panel panel-default post-panel">
			    	<div class="panel-body post-panel-body">
	    				<a href=https://pragprog.com/ target="_blank">The Pragmatic Bookshelf</a>
	    			</div>
					</div>
	  		</div>
	    </div>
	    <!--Video tab pane-->
	    <div role="tabpanel" class="tab-pane" id="videosTab">
	    	<div class="col-md-4">
	    		
	    		
	  		</div>
	    </div>
	  
	  <!--End of tab panes-->
	</div>
	</div>
</div>

