<div class='container buffer col-md-8 col-md-offset-2'>
</div>
<div class="container col-md-8 col-md-offset-2">
	<%= link_to "Change Admin permissions", edit_admin_path(:id => @user.id), remote: true, class: 'btn btn-default forum-btn pull-right' %>
</div>
<div class='container col-md-8 col-md-offset-2'>
	<!-- Tabs -->
	<div class="col-md-2">
	  <ul class="nav nav-pills nav-stacked profile-pills">
	    <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
	    <li role="presentation"><a href="#myEvents" aria-controls="My Events" role="tab" data-toggle="tab">Events</a></li>
	    <li role="presentation"><a href="#transactions" aria-controls="Transactions" role="tab" data-toggle="tab">Transactions</a></li>
	  </ul>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="info">
	  	<div class="panel panel-default col-md-10 profile-panel">
		  	<div class="panel-body">
		  		<div class="panel panel-default">
				  	<div class="panel-body">
				  		<div class='col-md-4'>
					  		<h4>Personal Information</h4>
						  	<p><b>Username: </b><%= @user.user_name %></p>
								<p><b>First Name: </b><%= @user.first_name %></p>
								<p><b>Last Name: </b><%= @user.last_name %></p>
								<p><b>Username: </b><%= @user.email %></p>
								<%= link_to "Edit your profile", edit_user_registration_path, remote: true, class: 'btn btn-default forum-btn'%>
							</div>
							<div class='col-md-4'>
								<h4></h4>
								<b>Unhappy with Agoge?</b><%= button_to "Cancel your account", registration_path(resource_name), 
								class: 'btn btn-default forum-btn', data: { confirm: "Are you sure?" }, method: :delete %>
							</div>
						</div>
					</div>
				</div>
			</div>
	  </div>

	  <div role="tabpanel" class="tab-pane" id="myEvents">
	  	<div class="panel panel-default col-md-10 profile-panel">
		  	<div class="panel-body">
			  	<% if @user.events.any? %>
				  	<% @user.events.each do |event| %>
					  	<div class="panel panel-default">
			  				<div class="panel-body">
									<h4>Event: <%= event.title %></h4>
									<p><b>Date: </b><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
									<p><b>Location: </b><%= event.city %>, <%= event.state %></p>
									<p><b>Cost: </b>$<%= event.cost %></p>
									<p><b>Spots Taken: </b><%= event.users.count %>/<%= event.total_spots %>
								</div>
							</div>
				  	<% end %>
				  <% else %>
				   	<div class="panel panel-default">
		  				<div class="panel-body">
			  				<p>You are not currently enrolled in any events.</p>
			  			</div>
						</div>
				  <% end %>
				</div>
			</div>
		</div>

	  <div role="tabpanel" class="tab-pane" id="transactions">
	  	<div class="panel panel-default col-md-10 profile-panel">
		  	<div class="panel-body">
			  	<% if @transactions.any? %>
				  	<% @transactions.each do |transaction| %>
				  		<div class="panel panel-default">
					  		<div class="panel-body">
					  			<p><b>Date: </b><%= transaction.created_at.strftime("%B %d, %Y - %I:%M %P") %> MDT</p>
						  		<p><b>Event Name: </b><%= transaction.event.title %></p>
									<p><b>Transaction Amount: </b>$<%= transaction.amount / 100 %>.00</p>
								</div>
							</div>
						<% end %>
					<% else %>
							<div class="panel panel-default">
					  		<div class="panel-body">
									<p>You have not completed any transactions.<p>
								</div>
							</div>
					<% end %>
				</div>
			</div>
	  </div>
	</div>
</div>

<%= render "layouts/edit_profile_modal" %>
<%= render "admin_modal" %>
