<%= link_to event_path(event), remote: true do %>
  <div class="block-update-card status events_style">
    <div class="update-card-body">
      <%= image_tag(event.image.url(:med)) %>
      <h3><%= event.title.capitalize %></h3>
      <div id="events-home-description">
        <p><%= event.description %></p>
      </div> 
      <p><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
      <%= link_to "LEARN MORE", new_charge_path(event_id: event.id), class: 'btn btn-default learn-more-button' %>
    </div>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" 
     		data-show-faces="true" data-share="true">
			</div>
			<div class="tweet">
     	<a href="https://twitter.com/share" class="twitter-share-button" data-via="Agoge_Labs" data-count="none">Tweet</a>
     </div>
  </div>
<% end %>