<%= link_to event_path(event), remote: true do %>
  <div class="panel panel-default event-panel">
    <div class="panel-body">
      <%= image_tag(event.image.url(:med)) %>
      <h3><%= event.title.capitalize %></h3>
      <div id="events-image-line" ><%= image_tag('hrulegray.png') %></div>
      <div id="events-home-description">
        <p><%= event.description %></p>
      </div> 
      <p id="events-datetime"><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
      <%= link_to "LEARN MORE", event_path(event), remote: true, class: 'btn btn-default learn-more-button' %>
    </div>
      <div class="fb-like" data-href="https://www.facebook.com/groups/clubagoge/" data-layout="button" data-action="like" 
     		data-show-faces="true" data-share="true">
			</div>
			<div class="tweet">
     	<a href="https://twitter.com/share" class="twitter-share-button" data-via="Club_Agoge" data-count="none">Tweet</a>
     </div>
  </div>
<% end %>