<%= link_to event_path(event), remote: true do %>
  <div class="block-update-card col-md-offset-3 status events_style">
    <div class="update-card-body">
      <h3><%= event.title.capitalize %></h3>
      <p><%= event.description %></p> 
      <p><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
      <%= link_to "LEARN MORE", new_charge_path(event_id: event.id), class: 'btn btn-default learn-more-button' %>
    </div>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" 
     		data-show-faces="true" data-share="true">
     	</div>
     	<a href="https://twitter.com/share" class="twitter-share-button" data-via="Agoge_Labs" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
<% end %>