<div class="row">
	<div class="col-md-5 col-sm-5">	
		<p><b>When: </b><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
		<p><b>Where: </b><%= event.address %><p>
		<p><b>Cost: </b>$<%= event.cost %></p>
		<p><b>Spots taken: </b><%= event.users.count if event.users %>/<%= event.total_spots %></p> 
			<b>Description:</b>	
		<p><%= event.description %></p>
		<% if user_signed_in? %>
			<% if event.users.exclude?(current_user) && current_user != event.owner %>
				<% if event.users.count == event.total_spots %>
					<p>Sorry, no more spots left!<p>
				<% else %>
					<%= link_to new_charge_path(event_id: event.id) do %>
				  <button class="btn btn-default forum-btn">Enroll</button> 
				  <% end %>
				<% end %>
			<% elsif event.users.include?(current_user) %>
				<p>You are enrolled in this event!</p>
			<% end %>
		<% else %>
			<%= link_to "Sign up to enroll in events!", root_url, class: "btn btn-default forum-btn" %>
		<% end %>
	</div>
	<div class="col-md-5 col-sm-4">
	  <div id="map" ></div>
	</div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds(); 
    handler.getMap().setZoom(13);
    google.maps.event.trigger(map, 'resize');
    handler.map.centerOn({ lat: <%= event.latitude %>, lng: <%= event.longitude %> });
  });
</script>
