<%= link_to event_path(event), remote: true do %>
  <div class="block-update-card status events_index">
    <div class="update-card-body">
      <%= image_tag(event.image.url(:med)) %>
      <h3><%= event.title.capitalize %></h3>
      <div id="events-description">
        <p><%= event.description %></p>
      </div>
      <p><b>Created by: </b><%= event.owner.user_name %></p>
      <p><b>When: </b><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
      <p><b>Where: </b><%= event.address %></p> 
      <p><b>Spots taken: </b><%= event.users.count %>/<%= event.total_spots %></p> 
      <p><b>Cost: </b>$<%= event.cost %></p>
<% end %>
      <div id="edit-events-holder" class="modal-body"></div>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <span class = "edit-delete pull-right">
            <%= link_to edit_event_path(event), remote: true do %>
              <i class="fa fa-pencil fa-lg" data-toggle="tooltip" title="Edit"></i>
            <% end %>       
            &nbsp;&nbsp;
            <%= link_to event_path(event), data: { confirm: "This action cannot be undone.  Are you sure you want to delete this event?" },  method: :delete do %>
              <i class="fa fa-trash fa-lg" data-toggle="tooltip" title="Delete"></i>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>