<div class="row">
	<div class="col-md-5">	
		<p><b>When: </b><%= event.datetime.strftime("%B %d, %Y - %I:%M %P") %></p>
		<p><b>Where: </b><%= event.address %><p>
		<p><b>Cost: </b>$<%= event.cost %></p>
		<p><b>Spots taken: </b><%= event.users.count if event.users %>/<%= event.total_spots %></p> 
			<b>Description:</b>	
		<p><%= event.description %></p>
		<% if event.users.exclude?(current_user) && current_user != event.owner %>
		  <button class="btn btn-default"><%= link_to "Enroll", new_charge_path(event_id: event.id) %></button>
		<% end %> 
		<% if event.users.include?(current_user) %>
		  <span class="btn btn-default">You are enrolled in this event!</span>
		<% end %>
	</div>
	<div class="col-md-5">
	  <div id="map" ></div>
	</div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds(); 
    handler.getMap().setZoom(13);
    google.maps.event.trigger(map, 'resize');
    handler.map.centerOn({ lat: <%= event.latitude %>, lng: <%= event.longitude %> });
  });
</script>