<%= link_to event_path(event), remote: true do %>
  <div class="block-update-card col-md-offset-3 status events_style">
    <div class="update-card-body">
      <h3><%= event.title.capitalize %></h3>
      <p><%= event.description %></p> 
      <p>enrolled: <%= event.users.count if event.users %></p> 
      <p><%= event.total_spots %></p>
      <%= link_to "LEARN MORE", new_charge_path(event_id: event.id), class: 'btn btn-default learn-more-button' %>
    </div>
  </div>
<% end %>