<div class="block-update-card status">
    <div class="update-card-body">
      <h3><%= event.title %></h4>
      <p>enrolled: <%= event.users.count if event.users %></p> 
      <p><%= event.total_spots %></p>

      <button><%= link_to "enroll", enroll_path(event), method: :put %></button>
 
      <% if current_user == event.owner %>
        <button><%= link_to "Delete", event_path(event), method: :delete %></button>
        <button><%= link_to "Edit", edit_event_path(event)%></button>
      <% end %>
    </div>
</div>
