<div class="block-update-card status">
    <div class="update-card-body">
    <%= link_to event_path(event) do %>
        <h3><%= event.title %></h4>
        <% end %>
        <p><%= event.description %></p>
        <p><%= event.datetime %></p> 
        <p><%= event.city %></p>
        <p><%= event.state %></p>
        <p><%= event.cost %></p>
        <p>enrolled: <%= event.users.count if event.users %></p> 
        <p><%= event.total_spots %></p>
        <button><%= link_to "Delete", event_path(event), method: :delete %></button>
        <button><%= link_to "Edit", edit_event_path(event)%></button>
        <button><%= link_to "Enroll", new_charge_path(event_id: event.id) %></button>
    </div>
</div>


