<div class="container">
  <!-- Button trigger modal -->  
  <%= link_to "Create New Event", new_event_path, remote: true, class: "btn event-create-btn btn-lg forum-btn" %>
  <div id="new-events-holder" class="modal-body" >
  </div> 
</div>

<%= render partial: 'event_panels', locals: { events: @events } %>

<%= render partial: 'events_modal' %>

<%= render 'events/gmaps_scripts' %>

<%= render 'events_modal' %>
