<div class="container">
  <!-- Button trigger modal -->  
  <%= link_to "New Event", new_event_path, remote: true, class: "btn event-create-btn btn-lg forum-btn" %>
  <h3>Total Events: <%= @events.count %></h3>
  <div id="new-events-holder" class="modal-body" >
  </div> 
</div>

<div class="row events_body_background ">
  <div class="col-md-10 col-md-offset-2">

    <% @events.each do |event| %>
    <div class="col-md-5 ">
      <div id="event-<%= event.id %>">
        <%= render partial: 'display_events', locals: {:event => event} %> 
      </div>
    </div>  
    <% end %>
  </div>
</div>

<%= render partial: 'events_modal' %>
<%= render 'events/gmaps_scripts' %>