<div class= "form-group">
	<% flash.each do |message_type, message| %>
  	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
	<%= form_for [@question, @answer], remote: true do |f| %>
		<%= f.label :content  %>
		<%= f.text_area :content, class: 'form-control'  %>

		<%= f.hidden_field :user_id, value: current_user.id, class: 'form-control'  %>

		<%= f.submit "Submit", class: "btn btn-default forum-btn"  %>
	<% end %>
</div>
