<div class='container'>
	<div class="col-md-8 col-md-offset-2">
		<div class='panel panel-default'>
			<div class="panel-heading">
				<h3>Enroll in <%= @event.title %></h3>
			</div>
			<div class="panel-body">
				<p>Please take a moment to review the following information:</p>
				<br>
				<h5>Personal Information</h5>
				<p>First Name: <%= current_user.first_name %></p>
				<p>Last Name: <%= current_user.last_name %></p>
				<p>Email Address: <%= current_user.email %></p>

				<%= link_to "Update This Information", edit_user_registration_path, remote: true, class: 'btn btn-default forum-btn'%>
				<br>
				<br>
				<h5>Event Details</h5>
				<P>Location: <%= @event.city %>, <%= @event.state %><p>
				<p><%= @event.datetime %><p>

				<%= form_tag charges_path do %>
				  <article>
				    <label class="Amount">
				      <span>Cost per attendee: $<%= @event.cost  %></span>
				    </label>
				  </article>
				<%= hidden_field_tag :event_id, params[:event_id] %>
				<%= link_to "Choose a Different Event", root_path, class: 'btn btn-default forum-btn' %>
				<br>
				<br>
				<p>If the above information is correct, please complete your enrollment and reserve your spot today!</p>
				<br>
				  <script src="https://checkout.stripe.com/checkout.js" 
							  	class="stripe-button"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-name="Agoge"
				          data-description="<%= @event.title %>"
				          data-amount="<%= @event.cost * 100 %>">
				  </script>
				<% end %>
			</div>
		</div>
	</div>
</div>

  <!--Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editProfileModalTitle">nada</h4>
        </div>
        <div class="modal-body" id="editProfileModalBody">
          nada
        </div>
      </div>
    </div>
  </div>